body{
    background-color: #CEE5D0;
  }
    #container{
        background-color: #CEE5D0;
        margin-top: 60px;
        width: 100%;
        height: auto;
  
    /* background-image: url(https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/bkgd-triangle-right.png), url(https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/bkgd-triangle-right2.png),url(https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/bkgd-triangle-left.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom right, right, left;
    background-size: contain; */
  color: black;
    position: absolute;
    }
    .side{
        background: #222222;;
        color: white;
    }
    .profile-pic{
        width: 200px;
        height: 200px;
        margin: auto;
        background-color: #9CADA4;
       
     padding: 5px;
     z-index: 99;
     border-bottom-left-radius: 50%;
     border-bottom-right-radius: 30%;
     border-top-left-radius: 30%;
     border-top-right-radius: 50%;
    }
 .profile-pic img{
    width: 100%;
    border-radius: 50%;
    transition: transform 1s;
  }
  .profile-pic img :hover{
    transform: scale(1.2);
  }
.btn{
  border: 0px;
  color: white;
height: 50px;

}
#carousel-container{
  width: 80%;
  margin: auto;
  height: 100%;
  margin-top: 40px;

  
}
#carousel-container >img{
  width: 100%;
  border-radius: 50px;
}
#proj{
 margin-top: 40px;
  text-align: center;
  color: white;
}
#more-proj{
  display: flex;
align-self: flex-end;

}
.stats{
  width:100%;
 
}
.stats> img{
  width: 80%;
}
.navbar a{
  color:white;
}
.navbar{
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color:#94B49F;
}
.dropdown-menu a{
  color: black;
  font-size: medium;
}
.dropdown-menu a{
    color: white;
}
#footer{
    width: 100%;
    padding: 10px;
    background-color:#94B49F;
  text-align: center;
    color: rgb(42, 41, 41);
    font-size: 10px;
    position: absolute;
   margin-top: 40px;
}
#footer a{
    text-align: center;
    color: rgb(42, 41, 41);
    font-size: 10px;
}
.dropdown-menu{
    background-color:#94B49F;
}

#graph{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.me{
    width: 80%;
    display: grid;
margin: auto;
grid-template-columns: repeat(2, 1fr);
text-align: center;
margin-top: 40px;
padding: 50px;
}
.gitHub{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: auto;
    margin-top: 40px;
  
    text-align: center;
}
.About{
    margin: auto;
    width: 70%;
    text-align: justify;
    color: black;
}
@media all and (min-width:768px) and (max-width: 1104px){
  /*  #footer{
width: 100%;
    }*/

    .gitHub{
        grid-template-columns: 1fr;
        grid-template-rows: (3,auto);
        gap: 20px;
    }
    .gitHub>div :first-child{
        width: 80%;
    }
    .gitHub>div :second-child{
        width: 80%;
    }


}

@media only screen and (max-width: 768px)  { 
.me{
    grid-template-columns:  1fr;
    grid-template-rows: auto ;
    gap: 20px;
}
.gitHub{
    grid-template-columns: 1fr;
    grid-template-rows: (3,auto);
    gap: 20px;
}
.gitHub>div :first-child{
    width: 80%;
}
.gitHub>div :second-child{
    width: 80%;
}

}